In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
a= np.random.randint(10,20,size=60)
df=pd.DataFrame(a)
df

     0
0   10
1   16
2   15
3   12
4   13
5   19
6   12
7   11
8   11
9   12
10  14
11  19
12  14
13  16
14  11
15  11
16  18
17  13
18  16
19  16
20  10
21  14
22  12
23  17
24  14
25  15
26  15
27  15
28  17
29  13
30  12
31  17
32  10
33  17
34  19
35  18
36  11
37  17
38  16
39  13
40  19
41  15
42  16
43  16
44  15
45  18
46  12
47  12
48  18
49  15
50  13
51  11
52  13
53  11
54  17
55  17
56  13
57  14
58  10
59  19

In [7]:
#resampling

In [ ]:
df=pd.read_csv('')